﻿
<div ng-app="myapp">
    <div ng-controller="StudentCtrl as vm">
      
        <div ng-view style="margin-top: 20px">

        </div>

        @*<a href="#/StudentAdd" class="btn btn-primary btn-xs">Add</a>
        <br /><br />*@
        @*<form novalidate name="frmStudent" id="frmStudent" class="form-horizontal row-border">
            <br />
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="input17"> First Name</label>
                    <div class="col-md-7"> <input type="text" id="idFirstName" class="form-control" name="nameFirstName" ng-model="vm.firstName" /> </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="input17"> Last Name</label>
                    <div class="col-md-7"> <input type="text" id="idLastName" class="form-control" name="nameFirstName" ng-model="vm.lastName" /> </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="input17"> Email</label>
                    <div class="col-md-7"> <input type="text" id="idEmail" class="form-control" name="nameEmail" ng-model="vm.email" /> </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="input17"> Address</label>
                    <div class="col-md-7"> <input type="text" id="idAddress" class="form-control" name="nameAdress" ng-model="vm.address" /> </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4"> </div>
                    <div class="col-md-7">
                        <span id="save" class="btn btn-success margin-right-btn" ng-click="vm.SaveUpdate()">
                            <i class="icon-save"></i> {{vm.btnText}}
                        </span>
                    </div>
                </div>
            </div>
        </form>*@

        @*<table class="table table-hover general-table">
            <thead class="grid-top-panel">
                <tr>
                    <th style="display:none">StudentID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dataModel in vm.students">
                    <td style="display:none">{{dataModel.StudentID}}</td>
                    <td> {{dataModel.FirstName}}</td>
                    <td> {{dataModel.LastName}}</td>
                    <td>{{dataModel.Email}}</td>
                    <td>{{dataModel.Address}}</td>
                    <td style="text-align:right; color:white">
                        <span>
                            <span id="save" class="btn btn-primary margin-right-btn"
                                  ng-click="vm.GetStudentByID(dataModel)">
                                Edit
                            </span>
                        </span>
                    </td>
                    <td style="text-align:right; color:white">
                        <span>
                            <span id="save" class="btn btn-danger margin-right-btn"
                                  ng-click="vm.DeleteStudent(dataModel)">
                                Delete
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>*@
    </div>
</div>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/ScriptsNg/Module/app.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/ScriptsNg/Controller/StudentCtrl.js"></script>
<script src="~/ScriptsNg/Service/CrudService.js"></script>

