﻿<form novalidate name="frmStudent" id="frmStudent" class="form-horizontal row-border">
    <br />
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-4 control-label" for="input17"> First Name</label>
            <div class="col-md-7"> <input type="text" id="idFirstName" class="form-control" name="nameFirstName" ng-model="vm.firstName" /> </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="input17"> Last Name</label>
            <div class="col-md-7"> <input type="text" id="idLastName" class="form-control" name="nameFirstName" ng-model="vm.lastName" /> </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="input17"> Email</label>
            <div class="col-md-7"> <input type="text" id="idEmail" class="form-control" name="nameEmail" ng-model="vm.email" /> </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="input17"> Address</label>
            <div class="col-md-7"> <input type="text" id="idAddress" class="form-control" name="nameAdress" ng-model="vm.address" /> </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"> </div>
            <div class="col-md-7">
                <span id="save" class="btn btn-success margin-right-btn" ng-click="vm.SaveUpdate()">
                    <i class="icon-save"></i> {{vm.btnText}}
                </span>
            </div>
        </div>
    </div>
</form>