﻿<div>
    <a href="#StudentAdd" class="btn btn-success margin-right-btn">Add</a>
    <br /><br />

    <table class="table table-hover general-table">
        <thead class="grid-top-panel">
            <tr>
                <th style="display:none">StudentID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dataModel in vm.students">
                <td style="display:none">{{dataModel.StudentID}}</td>
                <td> {{dataModel.FirstName}}</td>
                <td> {{dataModel.LastName}}</td>
                <td>{{dataModel.Email}}</td>
                <td>{{dataModel.Address}}</td>
                <td style="text-align:right; color:white">
                    <span>
                        <span id="save" class="btn btn-primary margin-right-btn"
                              ng-click="vm.GetStudentByID(dataModel)">
                            Edit
                        </span>
                    </span>
                </td>
                <td style="text-align:right; color:white">
                    <span>
                        <span id="save" class="btn btn-danger margin-right-btn"
                              ng-click="vm.DeleteStudent(dataModel)">
                            Delete
                        </span>
                    </span>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>